# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

vite
.vite
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules/
dist/
.DS_Store

# TODO: firebase 관련

# TODO: md 관련, vite 관련, package-lock.json 등도 추가 고려